body {
    padding: 0;
    margin: 0;
    line-height: 2em;
    background-color: #eee;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

header {
    border-bottom-style: solid;
    border-color: #cccccc;
    background: #ffffff;
    margin-bottom: 2em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}


nav {
    float: right;
}

nav ul {
        margin: 0%;
        padding: 1em;
        list-style: none;
    }
    
nav li {
        display: inline-block;
        padding-left: 10px;
    }

a {
    text-decoration: none;
    color: #aab;
}


.social-media {
    height: 75px;
    margin: 0 10px;
}

#pic {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

#connect {
    position: absolute;
    text-align: center;
    background: white;
    border: #ddd 1px solid;
    box-sizing: border-box;
    padding: 1em;
}

footer {
    text-align: center;
    clear: both;
    background: #666;
    padding: 2em;
    color: rgb(196, 196, 196);
    border-top: #4aaaa5 5px solid;
    
}

#name {
    background: #4aaaa5;
    color: white;
    padding: 1em 2em;
    float: left;
}


.bgtext {
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 16px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


.container {
    clear: both;
    width: 960px;
    margin: 0 auto;
    background: white;
}

#container-left {
    width: 650px;
    float: left;
    background: white;
    padding: 2em;
    border: #ddd 1px solid;
    box-sizing: border-box;
    margin-bottom: 2em;
}

#container-right {
    width: 270px;
    float: right;
}

hr {
    border-color: lightgray;
    margin-bottom: 1em;
    margin-top: 0;
    opacity: .5;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
